<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="card shadow-sm" style="width: 36rem;">
      <div class="card-body d-flex flex-column align-items-center">
        <h3 class="card-title my-3">URL shortener</h3>
        <div class="my-4">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            style="width: 10rem;">
        </div>
        <div class="my-2" style="width: 20rem;">
          <form action="">
            <input type="text" class="form-control" placeholder="Input url here..." required>
            <div class="text-center mt-3 ">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>